{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "defaults",
          "ie >= 11"
        ]
      }
    }]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
